In [5]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [24]:
csvfile = Path('03-Class-Activities_03-Python-Pandas_3.3-Risk-and-Returns-Over-Time_06-Indexing-Fever_Resources_bombardier_stock_data.csv')
bbd_df =  pd.read_csv(csvfile, parse_dates=True, index_col='Date', infer_datetime_format=True)
bbd_df.head()

            Close
Date
2019-03-01   2.90
2019-03-04   2.92
2019-03-05   2.95
2019-03-06   2.83
2019-03-07   2.88

In [26]:
bbd_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 63 entries, 2019-03-01 to 2019-05-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   63 non-null     float64
dtypes: float64(1)
memory usage: 1008.0 bytes

In [33]:
bbd_df_grp = bbd_df.groupby([bbd_df.index.year, bbd_df.index.month]).first()
bbd_df_grp.head()

           Close
Date Date
2019 3      2.90
     4      2.68
     5      2.34

In [36]:
bbd_df_close = bbd_df_grp.loc[2019,5]
bbd_df_close

Close    2.34
Name: (2019, 5), dtype: float64

In [41]:
bbd_df_close_mean = bbd_df_grp.loc[2019].mean()
bbd_df_close_mean

Close    2.64
dtype: float64

In [42]:
bbd_df_close_mean.sum()

2.64

In [68]:
import pandas as pd
from pathlib import Path

csvfile_1 = Path('fin_leaders_america.csv')
csvfile_2 = Path('fin_leaders_members.csv')
csvfile_3 = Path('invstrs_leadership_members.csv')
csvfile_4 = Path('invstrs_leadership.csv')

fin_leaders_dues = pd.read_csv(csvfile_1)
investor_leaders_dues = pd.read_csv(csvfile_2)
fin_leaders_mbr_status = pd.read_csv(csvfile_3)
investors_leadership_mbr_status = pd.read_csv(csvfile_4)

In [69]:
leader_dues = pd.concat([fin_leaders_dues, investor_leaders_dues], axis='rows', join='inner')
leader_dues

        MemberName
0    Warren Buffet
1     Janet Yellen
2  Abigail Johnson
3       Larry Fink
0    Warren Buffet
1     Janet Yellen
2  Abigail Johnson
3       Larry Fink

In [74]:
investor_group = pd.concat([fin_leaders_mbr_status, investors_leadership_mbr_status], axis=1, join='inner')
investor_group

          MemberName MembershipStatus         MemberName  DuesOwed  DuesPaid
0      Warren Buffet    Good Standing      Warren Buffet         0      2500
1       Janet Yellen    Good Standing       Janet Yellen       100      2400
2    Abigail Johnson    Good Standing    Abigail Johnson         0      2500
3         Larry Fink       Delinquent         Larry Fink      2500         0
4       Mario Draghi       Delinquent       Mario Draghi      2500         0
5  Michael Bloomberg       Delinquent  Michael Bloomberg      2500         0
6          Ray Dalio    Good Standing          Ray Dalio         0      2500

In [75]:
total_concat = pd.concat([leader_dues, investor_group], axis=1, join='inner')
total_concat

,MemberName,MemberName,MembershipStatus,MemberName,DuesOwed,DuesPaid
0,Warren Buffet,Warren Buffet,Good Standing,Warren Buffet,0,2500
1,Janet Yellen,Janet Yellen,Good Standing,Janet Yellen,100,2400
2,Abigail Johnson,Abigail Johnson,Good Standing,Abigail Johnson,0,2500
3,Larry Fink,Larry Fink,Delinquent,Larry Fink,2500,0
0,Warren Buffet,Warren Buffet,Good Standing,Warren Buffet,0,2500
1,Janet Yellen,Janet Yellen,Good Standing,Janet Yellen,100,2400
2,Abigail Johnson,Abigail Johnson,Good Standing,Abigail Johnson,0,2500
3,Larry Fink,Larry Fink,Delinquent,Larry Fink,2500,0

In [83]:
total_concat.drop_duplicates()

,MemberName,MemberName,MembershipStatus,MemberName,DuesOwed,DuesPaid
0,Warren Buffet,Warren Buffet,Good Standing,Warren Buffet,0,2500
1,Janet Yellen,Janet Yellen,Good Standing,Janet Yellen,100,2400
2,Abigail Johnson,Abigail Johnson,Good Standing,Abigail Johnson,0,2500
3,Larry Fink,Larry Fink,Delinquent,Larry Fink,2500,0